/Files
/Images
/Include
/Libraries
/Logs
/Profiles
/Scripts
/Services
/Shared Projects
/Experts/Advisors
/Experts/Examples
/Experts/Free Robots
/Experts/Market
/Indicators/Examples
/Indicators/Market
/Indicators/Free Indicators
*.dat
*.ex5
*.set